* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

@import 'base/variables';

.container {
    max-width: 950px;
    margin: 0 auto;
    
}
@import  'media';
@import 'blocks/promo';

@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/advanteges';
@import 'blocks/catalog';
@import 'blocks/consultation';

@import 'blocks/forms';
@import 'blocks/slider';
@import 'blocks/reviews';
@import 'blocks/footer' ;
@import 'blocks/modal';



	  
	 	



	
	


	


											 
				
				
		
				







	